pre {
    white-space: pre-wrap !important;
}

.rst-content .publications .admonition-title:before {
    content: "📖";
}

#itype > ul > li {
    list-style: none !important;
}

.bibtex-header {
  background-color: rgba(0,0,0,0.03)
}

.bibtex-container {
  background-color: #fff
}
